<html>
{% include 'head.j2' %}
    <body>
        <div class="container">
{% include 'nav.j2' %}
            <div class="row">
                <div class="col">        
{% for row in requests %}
                    <div class="card">
                        <div class="card-header">
                            <a href="/migrate/{{ row['request_id'] }}">#{{ row['request_id'] }}</a> by {{ row['username'] }} at {{ row['created_on'] }}
                        </div>
                        <div class="card-body">
                                <p><strong>Payload:</strong> {{ row['objects'] }}</p>
                                <p>
                                    <a class="btn btn-primary" href="/migrate/complete/{{ row['request_id'] }}">Complete Migration</a>
                                    <a class="btn btn-secondary" href="/migrate/delete/{{ row['request_id'] }}">Delete Request</a>
                                </p>
                                <div class="card">
                                    <div class="card-header">
                                        Comments
                                    </div>
                                    <div class="card-body">
{% for comm in comments %}
                                        <p><strong>{{ comm['username'] }} ({{ comm['created_on'] }}):</strong> {{ comm['comment'] }}</p>
{% endfor %}
                                        <form method="post">
                                            <div class="form-group">
                                                <label for="addComment">New Comment</label>
                                                <textarea class="form-control" id="addComment" rows="3" name="addComment"></textarea>
                                            </div>
                                            <input type="submit" name="comment" value="Add Comment" class="btn btn-primary" />
                                        </form>
                                    </div>
                                </div>
                                    
                        </div>
                    </div><br />
{% endfor %} 
                </div>
            </div>
        </div>
    </body>
</html>
